on:
  release:
    types: [created]

jobs:
  release:
    name: Release - ${{ matrix.platform.release_for }}
    strategy:
      matrix:
        platform:
          - release_for: linux_x86_64
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            bin: cryptnet_url_cache_parser
            name: cryptnet_url_cache_parser_linux_x86_64
            command: build

          - release_for: windows_x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: cryptnet_url_cache_parser.exe
            name: cryptnet_url_cache_parser_windows_x86_64.exe
            command: build

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: ${{ matrix.platform.command }}
          target: ${{ matrix.platform.target }}
          args: "--release"

      - name: Rename Files
        shell: bash
        run: |
          mv target/${{ matrix.platform.target }}/release/${{ matrix.platform.bin }} ${{ matrix.platform.name }}

      - name: Publish GitHub release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.platform.name }}
